<div class='talcon'>
    <form action="#" class='center'>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="samplename" placeholder="Name... "[(ngModel)]='newTallyName' [ngModelOptions]="{standalone: true}"/>
            <!--<label class="mdl-textfield__label" for="samplename">Name...</label>-->
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="samplequantity" placeholder="Quantity... " [(ngModel)]='newTallyQuantity' [ngModelOptions]="{standalone: true}" />
            <!--<label class="mdl-textfield__label" for="samplequantity">Quantity...</label>-->
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sampleamount" placeholder="Price... " [(ngModel)]='newTallyAmount' [ngModelOptions]="{standalone: true}"/>
            <!--<label class="mdl-textfield__label" for="sampleamount">Amount...</label>-->
        </div>
        <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-ripple-js mdl-button--accent" (click)="onAddTally()">
            Add
        </button>
    </form>
    
    <div class='con'>
        <table class='tally mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth '>
        <thead>
            <th class='mdl-data-table__cell--non-numeric'> Name</th>
            <th> Price </th>
            <th> Quantity </th>
        </thead>
        <tbody>
            <tr *ngFor= 'let tally of tallies' (click)="onDeleteTally(tally)">
                <td class='mdl-data-table__cell--non-numeric' > {{tally.tallyName}}</td>
                <td>{{tally.tallyAmount}}₦</td>
                <td>{{tally.tallyQuantity}}</td>
            </tr>
        </tbody>
    </table>
    {{ tallyPriceSum }} <div class="mdl-textfield mdl-js-textfield"> <input class="mdl-textfield__input" type="text" id="debit" placeholder= "Paid..." [(ngModel)]='newPaidAmount' [ngModelOptions]="{standalone: true}" />
    </div>
    <button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-ripple-js mdl-button--accent" (click)="onPaid(tally)">Paid</button>
    </div>
</div>
