<div class="container">
<div class="input-group">
<input class="form-control" type="text" placeholder="Name" [(ngModel)]='newTallyName'>
<input class="form-control" type="text" placeholder="Quantity" [(ngModel)]='newTallyQuantity'>
<button class="btn btn-success" (click)="onAddTally()">Add Tally</button>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <span class="col-xs-4">
                Name
            </span>
            <span class="col-xs-4 text-center">
                Amount
            </span>
            <span class="pull-right">
                Quantity
            </span>
        </div>
    </li>
</ul>
<h1 class="jumbotron text-center" *ngIf="tallies == 0">Your Tallies Will Show Up Here</h1>
    <ul class="list-group">
        <li class="list-group-item" *ngFor= "let tally of tallies">
            <div class="row">
            <span class="col-xs-4"><span (click)="onDeleteTally(tally)" class="glyphicon glyphicon-trash"></span>&nbsp; {{tally.tallyName}}</span>
            <span class="text-center col-xs-4">{{tally.tallyAmount}}₦ </span>
            <span class="pull-right">{{tally.tallyQuantity}}</span>
            </div>
        </li>
    </ul>
</div>
